.order
{
  display: flex;
  width: 50% ;
  flex-direction: column;
  margin: 0 auto;
}

.style
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.mat-mdc-button:not(:disabled) {
  color: white;
}
.mat-primary
{
  color: white;
  background-color: #0F2B3E;
  display: flex;
  flex-direction: column;
  width: 20%;
  margin: 5%  40%;
}
