<form class="form">
  <img class="imageLogo" src="../../../../assets/image/rento.png" alt="logoRento">

  <mat-form-field >
      <mat-label>Nombre completo</mat-label>
      <input matInput>
  </mat-form-field>

  <mat-form-field >
      <mat-label>Correo electronico</mat-label>
      <input matInput>
  </mat-form-field>

  <mat-form-field >
      <mat-label>Nro DNI</mat-label>
      <input matInput>
  </mat-form-field>

  <mat-form-field >
      <mat-label>Numero de Telefono</mat-label>
      <input matInput>
  </mat-form-field>

  <mat-form-field >
      <mat-label>Direccion</mat-label>
      <input matInput>
  </mat-form-field>

  <mat-form-field >
      <mat-label>Contraseña</mat-label>
      <input matInput>
  </mat-form-field>

  <mat-form-field >
      <mat-label>Confirmar contraseña</mat-label>
      <input matInput>
  </mat-form-field>

  <p>Subir su historial crediticio</p>

  <button mat-fab color="primary">
      <mat-icon>add</mat-icon>
  </button>

  <button [routerLink]="'/rento/home'" mat-button color="blue">ARRENDADOR</button>
</form>
