<app-header></app-header>

<form>

  <head>
    <title>Perfil </title>
  </head>

  <div class="center">
    <img class="avatar" src="https://img.freepik.com/foto-gratis/apuesto-hombre-empresario-sonriendo-alegre_176420-17877.jpg">
    <br>
  <h1 >Matiaz Muñoz (Arrendador)</h1>
  <button class= "alinear" [routerLink]="'/rento/add-local'" mat-raised-button>Agregar local</button>

  </div>

  <div>
    <mat-card class="example-card-contacto2" >
    <mat-card-title >Contacto</mat-card-title>
    <br>
    <p>Correo: matias147@gmail.com</p>
    <p>Teléfono: 997814223</p>
    <p>Dirección: Av. Los Lirios 123, San Isidro</p>
  </mat-card>
</div>

<br>

<div class="tarjeta">


  <mat-card class="example-card2">
    <mat-card-title >Propiedades </mat-card-title>
    <br>
    <mat-card-content >
      <img class="imagen" src="assets/image/mansionCastle.jpeg">


      <p class="pruebita">Mansión</p>
      <p class="pruebita2">S/1322</p>
      <div class="alinearTexto">
        <p>Por Peter Castle</p>
        <p>Las Casuarinas 123 </p>
        <p >
        Agradable lugar para realizar tus eventos privados. Incluye piscina, terraza, otra piscina y otra terraza.
        </p>
      </div>

      <button mat-raised-button>Eventos</button>
      <button mat-raised-button>Viviendas</button>
    </mat-card-content>



    <mat-card-actions >
      <button class= "alinear" [routerLink]="'/rento/local-description'" mat-raised-button color="primary"  >Ver más</button>
    </mat-card-actions>
  </mat-card>



</div>


<mat-card class="example-card2-1">
  <mat-card-title >Propiedades </mat-card-title>
  <br>
  <mat-card-content >
    <img class="imagen"  src="assets/image/casaPlaya.jpeg">


    <p class="pruebita">Mansión</p>
    <p class="pruebita2">S/1322</p>
    <div class="alinearTexto">
      <p>Por Peter Castle</p>
      <p>Las Casuarinas 123 </p>
      <p >
      Agradable lugar para realizar tus eventos privados. Incluye piscina, terraza, otra piscina y otra terraza.
      </p>
    </div>

    <button mat-raised-button>Eventos</button>
    <button mat-raised-button>Viviendas</button>
  </mat-card-content>



  <mat-card-actions >
    <button class= "alinear"  mat-raised-button color="primary"  >Ver más</button>
  </mat-card-actions>
</mat-card>


</form>
