<app-header></app-header>
<div class="container">
  <div class="local">
    <img src="">
    <h1>Mis locales</h1>
  </div>

  <div class="table">
    <mat-tab-group fitInkBarToContent mat-stretch-tabs="false" mat-align-tabs="start" [color]="">
      <mat-tab label="Todos">
       <br>
       <br>
       <br>
       <mat-grid-list cols="3" rowHeight="1:1">
        <mat-grid-tile>
          <mat-card class="example-card">

            <img mat-card-image [routerLink]="'/rento/local-description'" src="assets/image/local1.png" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <h3>Mansión Castle</h3>
              <p>abcd</p>
            </mat-card-content>

          </mat-card>
        </mat-grid-tile>
      <mat-grid-tile>
        <mat-card class="example-card">

           <img mat-card-image src="assets/image/local2.png" alt="Photo of a Shiba Inu">
          <mat-card-content>
              <h3>Casa de playa</h3>
              <p>Verano 4546</p>
          </mat-card-content>

        </mat-card>
       </mat-grid-tile>
      <mat-grid-tile>
        <mat-card class="example-card">

            <img mat-card-image src="assets/image/local3.png" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <h3>Departamento 6</h3>
              <p>Av La Marina 123</p>
            </mat-card-content>

          </mat-card>
        </mat-grid-tile>
      <mat-grid-tile>
        <mat-card class="example-card">

            <img mat-card-image src="assets/image/local4.png" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <h3>Casa Palmeras</h3>
              <p>Agustin 27</p>
            </mat-card-content>

          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-card class="example-card">

            <img mat-card-image src="assets/image/local5.png" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <h3>Casa Los Lirios</h3>
              <p>Los Lirios 123</p>
            </mat-card-content>

          </mat-card>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-tab>

