<app-header></app-header>

<mat-card-title class="example-card2-1" >Recomendados </mat-card-title>
<mat-card class="example-card2-1">

  <br>
  <mat-card-content >
    <img class="imagen" [routerLink]="'/rento/local-description'" src="assets/image/img1.png">


    <p class="pruebita">Mansión</p>
    <p class="pruebita2">S/1322</p>
    <div class="alinearTexto">
      <p>Por Peter Castle</p>
      <p>Las Casuarinas 123 </p>
      <p >
      Agradable lugar para realizar tus eventos privados. Incluye piscina, terraza, otra piscina y otra terraza.
      </p>
    </div>

    <button mat-raised-button>Eventos</button>
    <button mat-raised-button>Viviendas</button>
  </mat-card-content>
</mat-card>
<mat-card class="example-card2-1">

  <br>
  <mat-card-content >
    <img class="imagen"  src="assets/image/1.png">

    <p class="pruebita">Mansión</p>
    <p class="pruebita2">S/2900</p>
    <div class="alinearTexto">
      <p>Por Pedro Castillo</p>
      <p>Las jazmines 321 </p>
      <p >
      Agradable lugar para realizar tus eventos privados. Incluye piscina, terraza, otra piscina y otra terraza.
      </p>
    </div>

    <button mat-raised-button>Eventos</button>
    <button mat-raised-button>Viviendas</button>
  </mat-card-content>

</mat-card>














