.center
{
  text-align: center;
  height: 300px;
  padding: 12px;
}

.avatar{
  width:200px;
  height: 200px;
  border-radius:50%
}

.example-card-contacto{
  width : 500px ;
  height: 150px;
  left: 150px;
}

.example-card1 {
  width : 700px ;
  height: 320px;
  left: 150px;
}

.imagen{
  width : 200px ;
  height: 200px;
  left: 15px;
  padding-right: 10px;
  float: left;
}


.pruebita{
  float: left;
  font-size: 17px;
}
.pruebita2{
  text-align: right;
  font-size: 17px;
}
