<form class="form" [formGroup]="arrendador">
  <img class="imageLogo" src="../../../../assets/image/rento.png" alt="logoRento">

  <mat-form-field appearance="fill">
    <mat-label>Id</mat-label>
    <input type="number"  matInput formControlName="id" >
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Nombre completo</mat-label>
    <input  matInput formControlName="nombre">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Apellido Completo</mat-label>
    <input  matInput formControlName="apellido">
  </mat-form-field>


  <button [routerLink]="'/rento/login'" mat-stroked-button color="accent" (click)="loadData()">REGISTRAR ARRENDADOR</button>
</form>
