.s1 img {
  object-fit: cover;
  width: 50px;
  height: 50px;
  border-radius: 25px;
}

.logo{
  display: flex;
  align-items: center;
  gap: 2rem;
}

.image{
  width: 50px;
  height: 50px;
  border-radius: 25px;
}

.search {
  position: relative;
  display: flex;
}

.input-grupo {
  margin: auto;
  display: flex;
  align-items: center;
  position: relative;
}

.input {
  width: 250px;
  padding: 10px 10px 10px 50px;
  border-radius: 15px;
  font-size: 16px;
}

.icon {
  font-size: 30px;
  position: absolute;
  top: 7px;
  left: 10px;
}

/*-------------------------------------*/
.style {
  color: aqua;
}

.mat-toolbar.mat-primary {
  background: #4EA3B5;
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* ------------------------------------------*/
.icon1 {
  padding: 15px 15px 15px 15px;
  transition: all ease-out 0.5s;
}

.icon1:hover{
  transform: scale(1.5);
  cursor: pointer;
}

@media (max-width: 700px) {
  .logo{
    flex-direction: column;
    gap: 1rem;
  }

  .mat-toolbar.mat-primary{
    flex-direction: column;
    justify-content: center;
    padding: 10rem;
  }
}
