<mat-grid-list  cols="2" >
  <mat-grid-tile-header>
    <header style ="height: 100%;" >
      <mat-toolbar color="Primary" class="mat-toolbar mat-primary" >
        <div class="s1 img">
          <a href="#"><img src="assets\image\rento.png" ></a>

        </div>

        <div class="search">
          <div class="input-grup">
            <input type="email"  class="input">
            <mat-icon class="icon">search</mat-icon>
          </div>
        </div>

        <div>
          <a [routerLink]="'/rento/home'">
            <mat-icon class="icon1">home</mat-icon>
          </a>
          <a [routerLink]="'/rento/local'" >
            <mat-icon class="icon1">shopping_bag</mat-icon>
          </a>
          <a [routerLink]="'/rento/schedule'">
            <mat-icon class="icon1">calendar_month</mat-icon>
          </a>



        </div>
      </mat-toolbar>
    </header>
  </mat-grid-tile-header>
